.multiselect {

    width: 200px;
}

.selectbox {

    position: relative;
}

.selectbox select{
    width: 100%;
    font-weight: bold;
}

.overselect {

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#checkboxes {

    display: none;
    border: 1px #dadada solid;

}

#checkboxes label {
    display: block;
}


#checkbox label:hover {

    background-color: skyblue;
}
