.status {

    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: gray;
    color: white;
    text-align: center;
    line-height: 30px;
    margin-left: 20px;

}

.pbar ul  {

    list-style-type: none;
}

.pbar ul li {

    display: inline-block;
    padding-right: 100px;
    
}
